body {
  text-align: center;
}
body #score {
  margin: auto auto;
  width: 39%;
  height: 35px;
  background-color: black;
  border: solid 2px #443f3f;
  text-align: right;
}
body #score label {
  text-align: left;
  font-size: 2.2rem;
  font-weight: bold;
  color: green;
}
body #start-button,
body #start-test {
  width: 250px;
  height: 40px;
  background-color: black;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  color: white;
}
body #start-button:hover,
body #start-test:hover {
  cursor: pointer;
  background-color: gray;
}
body .start-again {
  background-color: orange;
}
body .mensaje {
  width: 40%;
  font-size: 2rem;
  font-weight: bold;
  height: 40px;
  margin: auto auto;
  background-color: orange;
  color: black;
}
body .mensaje:hover {
  background-color: #8f6415;
  color: white;
  cursor: pointer;
}
body .mensaje-fail {
  background-color: red;
}
body .mensaje-fail:hover {
  background-color: #6f1919;
  color: white;
  cursor: pointer;
}
body .mensaje-success {
  background-color: green;
}
body .mensaje-success:hover {
  background-color: #0b500b;
  color: white;
  cursor: pointer;
}
body .main-container {
  width: 40%;
  height: 500px;
  background-color: gray;
  margin: auto auto;
  display: flex;
}
body .main-container .button-container {
  width: 80%;
  height: 400px;
  background-color: gray;
  margin: auto auto;
  display: inline-block;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .main-container .button-container .boton {
  display: flex;
}
body .main-container .button-container .boton label {
  font-size: 3rem;
  margin: auto auto;
}
body .main-container .button-container .boton label:hover {
  font-size: 4rem;
}
body .main-container .button-container .button-1 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #cc4848;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-1:hover {
  background-color: #631010;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-2 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #36c036;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-2:hover {
  background-color: #0f440f;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-3 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: white;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-3:hover {
  background-color: #5e5d5d;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-4 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #be35be;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-4:hover {
  background-color: #521552;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-5 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: yellow;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-5:hover {
  background-color: #676718;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-6 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #5050ff;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-6:hover {
  background-color: #222271;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-7 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffdc9c;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-7:hover {
  background-color: #e19b19;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-8 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #ffc964;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-8:hover {
  background-color: #6f582c;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .button-9 {
  width: 32%;
  height: 130px;
  border-radius: 10%;
  float: left;
  background-color: #b7e5f7;
  text-align: center;
  justify-content: center;
  border: solid 2px gray;
}
body .main-container .button-container .button-9:hover {
  background-color: #4cb9e4;
  color: white;
  cursor: pointer;
}
body .main-container .button-container .extra-1 {
  background-color: #500707;
  color: white;
}
body .main-container .button-container .extra-2 {
  background-color: #002900;
  color: white;
}
body .main-container .button-container .extra-3 {
  background-color: #525151;
  color: white;
}
body .main-container .button-container .extra-4 {
  background-color: #290429;
  color: white;
}
body .main-container .button-container .extra-5 {
  background-color: #727204;
  color: white;
}
body .main-container .button-container .extra-6 {
  background-color: #0b0b3b;
  color: white;
}
body .main-container .button-container .extra-7 {
  background-color: #52390a;
  color: white;
}
body .main-container .button-container .extra-8 {
  background-color: #0f475e;
  color: white;
}
body .main-container .button-container .extra-9 {
  background-color: #575252;
  color: white;
}
body .main-container .button-container .nueva-clase {
  background-color: #720909;
}
body .extra-main-container {
  background-color: green;
}

/*# sourceMappingURL=main.css.map */
